<div class="slidecontainer">
    <div class="slidewrapper">
        <img class="slide" src="./assets/slide.jpg">
        <img class="slide" src="./assets/slide1.jpg">
        <img class="slide" src="./assets/slide.jpg">
        <img class="slide" src="./assets/slide1.jpg">
    </div>
    <div class="catchphrase">We want to help you find the stories you love!</div>
</div>
<div>
    <div class="subheading">New Arrivals</div>
    
</div>
<div>
    <div class="subheading">Featured</div>
    
</div>
<div>
    <div class="subheading">Seach by Category</div>

</div>
